.board {
  display: grid;
  grid-template-columns: 62px 62px 62px; // 3 columns, 62px wide each   // 3 rows, 100px tall each
  grid-gap: 0px;                                // space between squares
}

app-square button {
  border: 1px solid #929292;
  height: 200px;
  font-size: 2rem;
  font-weight: bold;
}

button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50;
}